html
{
	margin: 0;
	padding: 0;
	width: 100%;
}

body
{
	font-family: Arial;
	margin: 0;
	width: 100%;
	padding: 50px 0px 0px 0px;
}

.contenupage
{
	width: 100%;
	text-align: center;
	background-color: white;
}

.descriptionprof
{
	background-color: #0862F4;
	color: white;
	
	/* Positionnement de la div sur la couche la plus haute */
	z-index: 1000;
	
	/* Positionnement de l'entête de manière à ce qu'elle soit toujours visible, en haut de la page*/
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0;
	
	width: 100%;
	height: 50px;	
	--padding: 10px;
	vertical-align: top;
	/* Ajout d'une petit ombre */
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.form_auth
{
	margin-left: auto;
	margin-right: auto;
	--margin-bottom: 3%;
	--margin-top: 5%;
	--min-width: 30%;
	--max-width: 30%;
}

.form_auth label
{
	 display: block;
    width: 120px;
    float: left;
}

.for_auth input
{
	width: 190px;
}

h1
{
	font-size: 150%;
	font-family: Sans-Serif;
	margin-left: 15px;
}

h2
{
	font-size: 150%;
	color: #FD6302;
	--text-shadow: 1px 1px 1px #777;
}

.historique
{
	float: left;
	width: 70%;
	height: 89%;
	border-right: 3px dotted #AECC42;
	text-align: left;
}

img
{
	width: 100%;
	height: auto;
	float: right;
	vertical-align: top;
}



.icone
{
	min-width: 25px;
	max-width: 25px;
}


.logo
{
	float: right;
	height: 60px;
	width: auto;
	margin-right: 15px;
}

.newquestion
{
	height: 89%;
	vertical-align: middle;
}

.newquestion, .historique
{
	
}

.piedpage
{
	--bottom: 0;
	--left: 0;
	--right: 0;
	--text-align: center;
	--font-size: 80%;
}

.publier
{
	border-left: 3px dotted #CA0062;
	width: 35%;
}

.structure
{
	border-collapse: collapse;
	margin: 0px;
}

table
{
	width: 100%;
	height: 98%;
	border-collapse: collapse;
}

.table_historique
{
	width: 88%;
	height: 50%;
	text-align: justify;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
}

.table_historique th
{
	background-color: #CA0062;
	color: white;
	text-align: center;
}

.table_historique tr:nth-child(2n+1)
{
    background-color: #f0f0f0;
}
