html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	background-color: #F6F1EC;
}

.contenuprincipal
{
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 90%;
	background-color: #F29C51;
	position: relative;
}

.piedpage
{
	border: 1px solid black;
	height: 10%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.droite, .gauche, .newquestion, .historique, .descriptionprof
{
	border: 1px solid black;
}


.historique
{
	float: left;
	width: 70%;
}

.newquestion
{
	width: 30%;
	margin-left: 70%;
}