html, body 
{
padding : 0;
margin : 0;
height : 100%;
}

body
{
	background-color:rgb(230,230,230);	
}

/* ------------------------------------- */

#refresh_button
{
	cursor:pointer;	
}

.div_img
{
	width:100%;
	text-align:center;	
	background-attachment:fixed;
}

.div_img_bottom
{
	width:100%;
	text-align:center;	
	background-attachment:fixed;	
	bottom:0px;
}

.tranq
{
	vertical-align:bottom;
	width:100%;	
	bottom:0px;		
}

.form_page1
{
	text-align:center;	
}

.img_iut
{
	width:17em;
	height:8em;
	box-shadow:#FFFFFF;	
}

.p_code
{
	/*font-weight: bold;*/
	font-family:Verdana;
	text-align:center;	
	font-size:1.5em;
}

.txt_code
{
	width:10em;
	height:2em;	
	margin:0;
}


/* ------------------------------------- */

.radio
{
	width:1.7em;
	height:1.7em;
}

/* ------------------------------------- */

.line
{
	vertical-align:top;
	margin:0;
	width: 100%;
	height:4px;
}

/*.bouton_connexion              --à utiliser pour bouton vote
{
	width:70%;
	height:15%;
	font-size: 1vw;
	text-align:center;
	width:9.7vw;
}*/


h1
{
	text-align:center;
	font-size:2.5vw;
}

h3
{
	vertical-align:top;
	font-size:2vw;
	margin:0px 0px 5px 0px;
}


/************************footer************************/
.div_footer
{
	width:100%;
	position:absolute;	
	bottom:0px;
	text-align:right;
}

.p_footer
{
	margin:0;
	padding:0;
	font-size:1em;
		
}

/************************design************************/

.line_design
{
	
	color:#343434;
	box-shadow: 0px 0px 10px #343434;
	
	border: 1px solid #656565;
	background:#cfcfcf;	
	/*width:100%;*/
	text-align:auto;
	/*border-radius: 20px 20px 20px 20px;*/
	margin-top:15px;
}

.bouton_design
{
	color:#343434;
	box-shadow: 0px 0px 10px #343434;
	border-radius: 10px;
	border: 1px solid #656565;
	background:#cfcfcf;
	background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#666666));
	height:2em;
	width:7em;
	font-size:1.2em;
	font-weight: bold;
	cursor:pointer;
}

.bouton
{
	color:#232323;
	box-shadow: 0px 0px 10px #000000;
	border-radius: 5px;
}